<%- include('../head') %>
    <%- include('admin-navbar') %>

        <body class="main-body" style="margin-bottom: 10px;">
            <main class="container">
                <h1 class="text-center">Edycja produktu</h1>
                <h4 class="text-center">Produkty są grupowane po nazwie, dlatego jeśli chcesz stworzyć konfigurację
                    jakiegoś produktu, muszą one posiadać tę samą nazwę (sugerujemy nazwy pisane małą literą, zostaną one poprawnie wyświetlone).</h4>
                <% if (locals.error) { %>
                    <div class="alert alert-danger text-center" role="alert">
                        <%= locals.error %>
                    </div>
                <% } %>
                <form action="/admin/products/change/<%= product.id %>" enctype="multipart/form-data" method="POST">
                    <div class="form-group">
                        <label for="nameInput">Nazwa</label>
                        <input type="text" class="form-control" id="nameInput"
                            placeholder="Nazwa produktu" name="itemname" required="true" value="<%= product.itemname %>">
                    </div>
                    <div class="form-group">
                        <label for="descriptionInput">Opis</label>
                        <textarea class="form-control" id="descriptionInput" rows="5" name="description" required="true">
                            <%= product.description %>
                        </textarea>
                    </div>
                    <div class="form-group">
                        <label for="colorInput">Kolor</label>
                        <input type="text" class="form-control" id="colorInput"
                            placeholder="Kolor produktu" name="color" required="true" value="<%= product.color %>">
                    </div>
                    <div class="form-group">
                        <label for="dimensionsInput">Wymiary</label>
                        <select class="form-control" id="dimensionsInput" name="dimensions">
                            <option value="1" <% if(product.dimensions === 1) { %> selected <% }%>>Zestaw</option>
                            <option value="2" <% if(product.dimensions === 2) { %> selected <% }%>>Figura 2D</option>
                            <option value="3" <% if(product.dimensions === 3) { %> selected <% }%>>Figura 3D</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="heightInput">Wysokość</label>
                        <input type="number" step=".01" class="form-control" id="heightInput"
                            placeholder="Wysokość" name="height" required="true" value="<%= product.height %>">
                        <label for="widthInput">Szerokość</label>
                        <input type="number" class="form-control" id="widthInput"
                            placeholder="Szerokość" name="width" required="true" value="<%= product.width %>">
                        <label for="depthInput">Głębokość</label>
                        <input type="number" class="form-control" id="depthInput"
                            placeholder="Głębokość" name="depth" required="true" value="<%= product.depth %>">
                    </div>
                    <div class="form-group">
                        <% if (product.image !== '') { %>
                            <div>
                                <img class="img-fluid product-image" src="/images/<%= product.picture %>.png">
                            </div>
                        <% } %>
                        <label for="image">Zdjęcie</label>
                        <input type="file" class="form-control" id="image" accept="image/png" name="productImage">
                    </div>
                    <div class="form-group">
                        <label for="productPrice">Cena</label>
                        <input type="number" step=".01" class="form-control" id="price" placeholder="Cena"
                            name="price" required="true" value="<%= product.price / 100 %>">
                    </div>
                    <button type="submit" class="btn btn-dark form-bttn">Modyfikuj produkt</button>
                </form>
            </main>
        </body>