<%- include('header', {isUserLogged: isUserLogged}) %>
    <main class="container">
        <% if (locals.productData) { %>
            <h1 class="text-center item-name"><%= productData.itemname %></h1>
            <div class="row">
                <div class="col-sm-5 product-image-wrapper">
                    <img class="img-fluid product-image" src="/images/<%= productData.picture %>.png" alt="<%= productData.itemname %>">
                </div>
                <div class="col-sm-7">
                    <p class="lead product-description">
                        <%= productData.description %>
                    </p>
                    <p><strong>Cena: <%= productData.price/100 %> zł</strong></p>
                    <div class="table-responsive">
                        <table class="table table-sm table-borderless mb-0">
                            <tbody>
                              <tr>
                                <th class="pl-0 w-25" scope="row"><strong>Kategoria</strong></th>
                                <td><%= productData.categoryName %></td>
                              </tr>
                              <tr>
                                <th class="pl-0 w-25" scope="row"><strong>Kolor</strong></th>
                                <td style="text-transform: capitalize;"><%= productData.color %></td>
                              </tr>
                              <tr>
                                <th class="pl-0 w-25" scope="row"><strong>Wymiary</strong></th>
                                <td><%= productData.dimComposed %></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                    <% if(isUserLogged) { %>
                      <a class="btn btn-dark category-button" href="/cart/add/<%= productData.id %>" role="button">Dodaj do koszyka</a>
                    <% } else { %>
                      <a class="btn btn-dark category-button" href="/login" role="button">Zaloguj się, aby dodać produkty do koszyka</a>
                    <% } %>
                </div>
            </div>
            <% if (hasVariations) { %>
            <h2 class="text-center" style="margin-top: 10px;">Sprawdź inne warianty tego produktu!</h2>
            <div class="row">
            <% for(var i = 0; i < colorsLength; i++){ %>
                <% if(i % 4 === 0 && i !== 0){ %>
                    </div><div class="row">
                <% } %>
                <div class="col-sm-3 variations-list">
                  <h4 class="text-center item-name"><%= colors[i].color %></h4>
                  <div style="max-height: 300px; overflow-x: hidden; overflow-y: auto;">
                    <% variations[colors[i].color].forEach(function(variation){ %>
                      <a class="btn btn-dark category-button" href="/products/<%= variation.id %>" role="button" style="margin-top: 10px;">
                        <%= variation.dimComposed %>
                      </a>
                  </div>
                  <% }); %>
                </div>
            <% } %>
            </div>
            <% } %>
        <% } else { %>
            <h1>Coś poszło nie tak, spróbuj ponownie później.</h1>
        <% } %>
    </main>
</body>
<%- include('footer') %>